.reveal .standard-avatar {
  position: absolute;
  top: -580px;
  left: -330px;
  max-width: none;
  max-height: none;
}
.reveal .standard-position-absolute {
  position: absolute;
  width: 100%;
}
.reveal .standard-mask {
  position: absolute;
  top: -900px;
  left: -50%;
  width: 200%;
  height: 2000px;
}
.reveal .standard-image-source {
  position: absolute;
  top: 450px;
  right: 0;
  color: #000;
  font-size: 9px;
}
.reveal .standard-code {
  display: inline-block;
  text-align: left;
}
.reveal .animation-hide-after-fragment-revelation {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 1;
}
.reveal .fragment.visible + .animation-hide-after-fragment-revelation {
  opacity: 0;
}
.reveal div[class|='animation-slide'] {
  position: absolute;
  width: 100%;
}
.reveal .present .animation-slide-1 {
  -webkit-animation: carousel 6s infinite;
  animation: carousel 6s infinite;
}
.reveal .present .animation-slide-2 {
  -webkit-animation: carousel 6s 3s infinite both;
  animation: carousel 6s 3s infinite both;
}
@-webkit-keyframes carousel {
  0% {
    opacity: 0;
  }
  8.33% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  58.33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes carousel {
  0% {
    opacity: 0;
  }
  8.33% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  58.33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.reveal .animation-slide-3,
.reveal .animation-slide-4 {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.reveal .fragment.visible + .animation-slide-3,
.reveal .animation-slide-4 {
  opacity: 0;
}
.reveal .animation-slide-3,
.reveal .fragment.visible + .animation-slide-3 + .animation-slide-4 {
  opacity: 1;
}
.reveal .present .animation-slide-2 {
  -webkit-animation: carousel 6s 3s infinite both;
  animation: carousel 6s 3s infinite both;
}
.reveal .animation-point-1 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.reveal .fragment.visible + .fragment + .animation-point-1 {
  height: 520% !important;
}
.reveal .fragment.visible + .fragment.visible + .animation-point-1 {
  height: 0 !important;
}
.reveal .effect-options {
  margin: 6px 0;
}
.reveal .effect-options::before,
.reveal .effect-options::after {
  margin: 10px;
  opacity: 0;
}
.reveal .effect-options:hover::before,
.reveal .effect-options:hover::after {
  opacity: 1;
}
.reveal .effect-options::before {
  content: '▶';
}
.reveal .effect-options::after {
  content: '◀';
}
.reveal .effect-subtitle {
  -webkit-transform: rotateZ(-90deg) translate3d(1%, 310%, 0);
  transform: rotateZ(-90deg) translate3d(1%, 310%, 0);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.reveal .effect-point-1 {
  background: -moz-linear-gradient(-45deg, #ba8fe6, #9866cc);
  background: -webkit-linear-gradient(-45deg, #ba8fe6, #9866cc);
  background: linear-gradient(135deg, #ba8fe6, #9866cc);
}
.reveal .effect-point-2 {
  background: -moz-linear-gradient(-45deg, #9866cc, #522185);
  background: -webkit-linear-gradient(-45deg, #9866cc, #522185);
  background: linear-gradient(135deg, #9866cc, #522185);
}
.reveal .effect-point-description-1 {
  line-height: 64px !important;
}
.reveal .effect-point-description-2 {
  line-height: 94px !important;
}
