/*div {
display: block;
}*/

/*body>*:not(.reveal) {
    }
*/

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}


div #rotato33ccw
{
transform:rotate(-33deg);
-ms-transform:rotate(-33deg); /* IE 9 */
-webkit-transform:rotate(-33deg); /* Safari and Chrome */
}

div #rotato180
{
transform:rotate(180deg);
-ms-transform:rotate(180deg); /* IE 9 */
-webkit-transform:rotate(180deg); /* Safari and Chrome */
}

/* See the active div container for the slide
/*.slides section {
    box-shadow: 0 0 5px black;
}*/



input, textarea, keygen, select, button, isindex {
margin: 0em;
font: -webkit-small-control;
color: initial;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: start;
}

.button.xl, .sl-select.xl {
padding: 14px 20px;
font-size: 1.2em;
font-weight: bold;
-webkit-font-smoothing: antialiased;
}

button, input, select, textarea {
font-family: inherit;
font-size: 100%;
margin: 0;
}

button, select {
text-transform: none;
}


a, button, .sl-select, .sl-checkbox label {
outline: none !important;
}


.button, .sl-select {
display: inline-block;
color: #fff;
font-size: 0.8em;
text-decoration: none;
font-family: "Open Sans",Helvetica,sans-serif;
font-weight: normal;
line-height: 1;
outline: 0;
border: 0;
border-radius: 2px;
background: #40cb90;
cursor: pointer;
-webkit-appearance: none;
-webkit-tap-highlight-color: rgba(0,0,0,0);
padding: 8px 12px;
-webkit-transition: all 0.14s ease;
-moz-transition: all 0.14s ease;
-ms-transition: all 0.14s ease;
-o-transition: all 0.14s ease;
transition: all 0.14s ease;
}


.button.grey {
background: #555;
}


.button.negative {
background: #e74c3c;
}

.button.negative.grey {
background: #555;
}

.blacksilk {
background-color: rgba(0, 0, 0, 0.7);
color: #eee;
}





/*#viewport {*/
    /**
     * Position relative so that canvas elements
     * inside of it will be relative to the parent
     */
/*    position: relative;
}*/
 
/*#viewport canvas {*/
    /**
     * Position absolute provides canvases to be able
     * to be layered on top of each other
     * Be sure to remember a z-index!
     */
/*    position: absolute;
}*/






/*.reveal .standard-position-absolute {
position: absolute;
width: 100%;
}

.reveal .standard-mask {
position: absolute;
/*top: -900px;*/
/*top: -900px;
left: -50%;
width: 200%;
height:2000px;*/
/*height: 2000px;}*/





