#primemover {
	top: 30px;
	right:50px;
	z-index:50px;
}

#subprimemover {
	top: 40px;
	right:60px;
	z-index:50px;
}


#crosshairO {
    top: 25px;
    left: 25px;
    z-index: 210;
}

#crosshairI {
    top: 32.5px;
    left: 32.5px;
    z-index: 210;
}

#crosshairIO {
    top: 9.5px;
    left: 11px;
    z-index: 210;
}

#poolup {
    bottom: 75px;
    left: 200px;
    z-index: 210;
}


#pooldeck {
	min-width:40px;
	max-height:80%;
	font-size: 12px;
	overflow:hidden;
	z-index:0;
}

#updraft {
	position:fixed;
	display:block;
	right:10px;
	bottom:150px;
	opacity: 0.5;
	z-index:0;
	min-width:40px;
	max-height:80%;
	overflow:hidden;
	background:rgba(0,0,0,0);
	color:aqua;
	font-size: 12px;
}

#patchwork {
    position: fixed; 
	min-width:20px;
    top: 0px;
    left: 0px;
    z-index: 10;
    border-radius:25px;
    background:rgba(0,0,0,0); 
    padding:5px;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,.4);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,.4);
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,.4);
}

#patchwork:hover {
    border-style:solid;
    border-width:2px;
    border-color:#13daec;
}